.square {
    background-color: teal;
    color: white;
    width:5em;
    height:5em;
    border-radius: 1em;
    margin: 2em;
}

#container{
    text-align:center;
    margin-top: 1em;
}

#board {
    display: inline-block;
    margin-top:1em;
}

h1 {
  font-family: 'Josefin Sans', sans-serif;;
  color: #2b2b2b;
    font-size: 4em;
}

table {
    background-color: white;
    text-align:center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2em; 
}